button {
  background-color: #E6E6FA;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
}

button:hover{
  color: white;
  background-color: darkcyan;
}
