h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

.button1 {
  position: absolute;
  margin-top: 20%;
  margin-left: 20%;
  background-color: #E6E6FA;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  alignment: bottom;
  border-radius: 12px;
}

.button2 {
  position: absolute;
  margin-top: 20%;
  margin-left: 40%;
  background-color: #E6E6FA;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  alignment: bottom;
  border-radius: 12px;
}

.button3 {
   position: absolute;
   margin-top: 20%;
   margin-left: 60%;
   background-color: #E6E6FA;
   color: black;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   alignment: bottom;
   border-radius: 12px;
 }

.button4 {
  position: absolute;
  margin-top: 20%;
  margin-left: 80%;
  background-color: #E6E6FA;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  alignment: bottom;
  border-radius: 12px;
}

img {
  float: right;
  height: 300px;
  width: 300px;
}

button:hover {
  color: white;
  background-color: darkcyan;
}





