<h1>Edit: {{product.name}}</h1>

<form (ngSubmit)="onSubmit()" [formGroup]="editForm">
  <label>
    Name:
    <input class="form-control" formControlName="name" type="text">
  </label><br><br>

  <label>
    Category:
    <input class="form-control" formControlName="category" type="text">
  </label><br><br>

  <label>
    Image:
    <input class="form-control" formControlName="image" type="text">
  </label><br><br>

  <label>
    Price:
    <input class="form-control" formControlName="price" type="text">
  </label><br><br>

  <label>
    <input class="form-control" formControlName="description" type="text">
  </label><br><br>

  <button [disabled]="!editForm.valid"  class="button1" type="submit">Save changes</button>
  <button (click)="reset()" class="button2">Cancel</button>
</form>





